*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: 'Roboto-Regular', sans-serif, Arial, Helvetica;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    position: relative;
    background: #686d6f7a;
    padding: 35px 40px;
    border-radius: 4px;
    z-index: 2;
    overflow: hidden;
    animation: login 0.88s ease;
}

@keyframes login {
    0% {
        transform: translateY(-10%) scale(.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.login:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-size: 182vh;
    background-position: 28%, 83%;
    filter: blur(24px);
    background-repeat: no-repeat;
    opacity: 0.8;
}

.heading {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 18px;
    color: white;
}

.input {
    display: block;
    margin-bottom: 13px;
    margin-top: 11px;
}

.input label {
    display: block;
    margin-bottom: 3px;
    font-size: 13px;
    color: white;
    cursor: pointer;
}

.input input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 4px;
    background: #0000002b;
    color: white;
    transition: all 0.2s ease;
}

.input input:hover {
    background: #000;
}

.input input:focus {
    box-shadow: 0 2px 2px #0000002b, 0 5px 10px #00000036;
}

.loginBtn {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 8px 15px;
    font-size: 14px;
    background: #00000038;
    border: 2px solid #38363654;
    color: #e1e1e1;
    border-radius: 4px;
    width: 100%;
    transition: all 0.2s cubic-bezier(.79, .14, .15, .86);
    cursor: pointer;
}

.loginBtn:hover {
    background: #000;
    transition: all 0.1s ease;
}

.loginBtn:focus {
    box-shadow: 0 0 0 2px #a7a7a7b5;
}

.metaText {
    font-size: 13px;
    margin-bottom: 15px;
    color: white;
}

.socialIcons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcon {
    cursor: pointer;
    min-height: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 28px;
    box-shadow: 0 4px 8px #0c0b0b00;
    transition: all 0.2s ease;
    border: none;
    outline: none;
}

.socialIcon:hover {
    box-shadow: 0 4px 14px #0000007a;
}

.socialIcon:focus {
    box-shadow: 0 0 0 2px currentColor;
    transform: scale(.9);
}