@font-face {
    font-family: "PTSans-Regular";
    src: url("../fonts/PTSans-Regular.woff2") format("woff2"),
         url("../fonts/PTSans-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
         url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat-VariableFont";
    src: url("../fonts/Montserrat-VariableFont.woff2") format("woff2"),
         url("../fonts/Montserrat-VariableFont.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "PostNoBillsJaffna-Bold";
    src: url("../fonts/PostNoBillsJaffna-Bold.woff2") format("woff2"),
         url("../fonts/PostNoBillsJaffna-Bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
         url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 300;
}
