.footer {
    display: block;
    padding: 0;
    width: 100%;
    height: 310px;
    animation: changing 35s infinite;
    background-image: url('../images/footerImg4-black.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer {
    position: relative;
    display:inline-block;
    margin-top: 35px;
}

.footer:before {
    content: '';
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.footer:before {
    opacity: 1;
}

@keyframes changing  {
    10% {
        background-image: url('../images/footerImg1-black.jpg');
    } 35% {
          background-image: url('../images/footerImg2-black.jpg');
      } 68% {
            background-image: url('../images/footerImg3-black.jpg');
        }
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contentFooter {
    display: flex;
    list-style-type: none;
    position: relative;
    margin: 55px 0 50px 40px;
}

.linkFooter:hover {
    color: #d5d5d5;
}

.linkFooter {
    font-size: 19px;
    font-family: 'Montserrat-VariableFont', sans-serif, Arial, Helvetica;
    margin: 0 75px 0 0;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
}

.linkFooter:not(:hover):after {
    transform: scalex(0);
}

.linkFooter:after {
    bottom: -3px;
    content: "";
    height: 2px;
    left: 0;
    border-radius: 6px;
    background-color: #d5d5d5;
    position: absolute;
    transition: -webkit-transform .5s;
    transition: transform .5s,-webkit-transform .5s;
    width: 100%;
}

.positionlogoInstFooter {
    position: absolute;
    cursor: pointer;
    left: 270px;
    top: 140px;
}

.logoInstFooter {
    height: 60px;
}

.positionlogoTCSFooter {
    position: absolute;
    left: 55px;
    top: 70px;
}

.logoTCSFooter {
    height: 200px;
    width: 210px;
}

.positionBlocks1 {
    position: absolute;
    right: 290px;
    top: 45px;
    width: 300px;
    display: inline-block;
}

.positionBlocks2 {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 45px;
    width: 251px;
}

.imagesService {
    height: 80px;
    margin: 5px;
}

.smallPaymentPictures {
    height: 25px;
    margin: 5px;
}

.email {
    color: #808080;
    font-size: 18px;
    font-weight: 400;
    font-family: 'PTSans-Regular', sans-serif, Arial, Helvetica;
    text-align: right;
    text-transform: uppercase;
}

.emailSide {
    color: #a0a0a0;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
    font-family: 'PTSans-Regular', sans-serif, Arial, Helvetica;
    text-align: right;
}

.workTime {
    color: #a0a0a0;
    font-size: 19px;
    font-weight: 400;
    top: 92px;
    text-align: right;
    left: 10px;
    font-family: 'PTSans-Regular', sans-serif, Arial, Helvetica;
    text-transform: uppercase;
}

.workSupport {
    color: #808080;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    font-family: "PTSans-Regular", sans-serif, Arial, Helvetica;
    text-transform: uppercase;
}

.paymentInformation {
    color: #808080;
    font-size: 18px;
    font-weight: 400;
    font-family: 'PTSans-Regular', sans-serif, Arial, Helvetica;
}

.footerDelivery {
    color: #808080;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    position: absolute;
    top: 205px;
    right: 35px;
    font-family: 'PTSans-Regular', sans-serif, Arial, Helvetica;

}

.instImg {
    height: 60px;
}

.block {
    position: relative;
    display:inline-block
}

.imagesBlock {
    height: 60px;
    margin: 0;
    padding:0;
}

.block:after {
    background: rgba(0,0,0,0.6);
    transition: opacity .5s;
    border-radius: 150px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

p {
    display: inline;
    margin: 0;
    padding: 0;
}

.block:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.block:hover:before,
.block:hover:after { opacity: 1; }