.positionAccountLogin1 {
    margin: 0;
    text-align: right;
    position: absolute;
    right: 424px;
    top: 12px;
    font-size: 12px;
    color: #060606;
    padding: 5px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: 'PTSans-Regular', sans-serif, Arial, Helvetica;
}

.positionAccountLogin1:hover {
    cursor: pointer;
    background: #abaeb1;
    border-radius: 4px;
}

.positionAccountLogin1:focus {
    background: #2a2a2a;
}

.positionAccountLogin2 {
    font-family: 'PTSans-Regular', sans-serif, Arial, Helvetica;
    text-align: right;
    position: absolute;
    right: 383px;
    top: 17px;
    font-size: 12px;
    margin: 0;
    border-bottom: solid 2px #ffff;
    padding-bottom: 3px;
    color: #ffff;
}

.positionAccountLogin2:hover {
    color: #abaeb1;
    border-bottom: solid 2px #abaeb1;
}

.positionAccountLogin2:focus {
    color: #2a2a2a;
}

.positionPhoneLogo {
    position: absolute;
    left: 260px;
    top: 15px;
}

.positionTextPhone {
    font-family: 'Roboto-Regular', sans-serif, Arial, Helvetica;
    width: 422px;
    letter-spacing: 1px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    left: 281px;
    font-size: 12px;
    background-color: #000000;
    color: #969696;
    border: none;
    outline: 0 !important;
}

.positionDoorLogo {
    position: absolute;
    right: 513px;
    top: 15px;
}

.positionArrowLogo {
    position: absolute;
    right: 515px;
    top: 19px;
}

.siteHeader {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.oneInformation {
    height: 44px;
    background-color: #000000;
    color: #969696;
    font-family:'PTSans-Regular', sans-serif, Arial, Helvetica;
}

.twoInformation {
    height: 85px;
    background: #0f0f0f;
    font-family:'PTSans-Regular', sans-serif, Arial, Helvetica;
}

.logoTCS {
    position: absolute;
    top: 44px;
    left: 259px;
}

.basket {
    position: absolute;
    top: 78px;
    right: 395px;
    cursor: pointer;
}

.basket:hover {
    filter: drop-shadow(2px 2px 6px #fff);
}
