body {
    margin: 0;
}

.nouScrollVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background: url("clothing background image.png") center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.nouScrollVideo::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.contentTitleVideo {
    margin: 0;
    font-size: 45px;
    color: #fff;
    text-align: center;
    z-index: 2;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 2;
}

.videoWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    z-index: 2;
    overflow: hidden;
}

.videoMedia {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
}

select, .a {
    background-color: #ffffff;
    color: #050306;
    padding: 20px;
    margin: 20px;
    font-weight: 500;
    display: flex;
    z-index: 2;
}

